<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <fieldset class="mt-3 mb-3">
        <legend>Create Plan # <%= productId %> </legend>
        <h3><%= productName %></h3>
        <p><%= productDesc %></p>
        <% if (status===200) { %>
          <div class="alert alert-success" role="alert">
            <%= responseMsg %> . <a href="/admin">Return</a>
          </div>
          <%} else if (status===400) { %>
            <div class="alert alert-danger" role="alert">
              <%= responseMsg %> . <a href="/admin">Return</a>
            </div>
            <% } %>
              <form action="/admin/createProductPlan" method="POST">
                <input type="hidden" value="<%= productId %>" name="productId" />
                <input type="hidden" value="<%= productName %>" name="productName" />
                <input type="hidden" value="<%= productDesc %>" name="productDesc" />
                <div class="mb-3">
                  <label class="form-label">Name</label>
                  <input type="text" class="form-control" placeholder="Enter plan name..." name="nickname" required>
                </div>

                <div class="mb-3">
                  <label class="form-label">Price</label>
                  <input type="number" class="form-control" placeholder="Enter plan price..." name="amount" required>
                </div>

                <div class="mb-3">
                  <label class="form-label">Interval</label>
                  <select class="form-select" name="interval">
                    <option value="day">Day</option>
                    <option value="week">Week</option>
                    <option value="month" selected>Month</option>
                    <option value="year" Ë>Year</option>
                  </select>
                </div>

                <div class="mb-3">
                  <label class="form-label">Interval number</label>
                  <input type="number" value="1" class="form-control" placeholder="Enter plan interval number..." name="interval_count"
                    min="1" required>
                </div>

                <div class="mb-3">
                  <label class="form-label">Currency</label>
                  <input type="hidden" value="usd" class="form-control" placeholder="Enter plan currency..." name="currency" />
                </div>

                <button class="btn btn-success">Submit</button>
              </form>
      </fieldset>
    </div>
  </div>
</div>